<!-- LEFT DRAWER -->
<div class="menu-left">
  <div>
    <h1 style="text-align:center;">Motivation</h1>
    <div class="social">
    </div>
    <ul id="omnii_setting">
      <li>Resource</li>
      <li>Resource</li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<!-- HEADER -->
<div class="omnii-header">
  <nav>
    <ul>
      <li>
        <a href="/" class="logo">LifeTime</a>
      </li>
      <li>
        <a href="#" class="open-left"><img src="../assets/header1.png"></a>
      </li>
      <li>
        <div class="open-right">
          <a href="#"><img src="../assets/header1.png"></span></a>
        </div>
      </li>
      <li>
        <a href="#"><img src="../assets/header1.png"></a>
      </li>
    </ul>
  </nav>
</div>
<!-- RIGHT DRAWER -->
<div class="menu-right">
  <div>
    <h1><%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></h1>
      <img id="profile_image" src="http://jawbone.com/<%= @user.image %>" ></br>
    <div class="user_settings">
    </div>
    <ul id="user_info">
      <li><h2>Age: <%= @user.age %></h2></li></br>
      <li><h2>Gender: <%= @user.set_gender %></h2></li></br>
      <li><h2>Weight: <%= @user.weight %> lbs</h2></li></br>
      <li><h2>Height: <%= @user.height %> </h2></li></br>
      <li></li>
    </ul>
  </div>
</div>
