<!-- LEFT DRAWER -->
<div class="menu-left">
  <div>
    <ul id="left_side_bar_content">
      <h1 style="text-align:center;">Daily Goal</h1>
      <li class="li">goal</li>
    </br>
      <h1 style="text-align:center;">Motivation</h1>
      <li class="li"><%= @user.motivational_quote %></li>
    </br></br>
      <h1 style="text-align:center;">Resources</h1>
      <li class="li"><%= @user.resource[0..-1] %></li>
      <li class="li"><%= @user.resource[0..-1] %></li>
    </br></br>
      <h1 style="text-align:center;">Tips</h1>
      <li class="li"><%= @user.just_the_tip[0..-1] %></li>
      <li class="li"><%= @user.just_the_tip[0..-1] %></li>
    </br>
    </ul>
  </div>
</div>
<!-- HEADER -->
<div class="omnii-header">
  <nav>
    <ul>
      <li>
        <a href="/" class="logo">LifeTime</a>
      </li>
      <li>
        <a href="#" class="open-left">Motivation</a>
      </li>
      <li>
        <div class="open-right">
          <a href="#">Profile</span></a>
        </div>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</div>
<!-- RIGHT DRAWER -->
<div class="menu-right">
  <div>
    <h1><%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></h1>
      <img id="profile_image" src="http://jawbone.com/<%= @user.image %>" ></br>
    <ul id="user_info">
    </br>
      <li><h2>Age: <%= @user.age %></h2></li></br>
      <li><h2>Gender: <%= @user.set_gender %></h2></li></br>
      <li><h2>Weight: <%= @user.weight %> lbs</h2></li></br>
      <li><h2>Height: <%= @user.height %> </h2></li></br>
      <li></li>
    </ul>
  </div>
</div>
