

= render file:"partials/_header"
.top-div
  .toggleable#expectancy
    %p.yourlife Your life expectancy is

    %p
      = @user.display_life_expectancy
  .toggleable#clock{'data-id' => @user.id}
    %p.yourlife
      Your life gained is

    - if @user.days.last.display_total_lgl[0] == '+'
      <span id="plus">
      = @user.days.last.display_total_lgl[0]
      </span>
      = @user.days.last.display_total_lgl[1..-1]
    - else
      <span id="minus">
      = @user.days.last.display_total_lgl[0]
      </span>
      = @user.days.last.display_total_lgl[1..-1]
  / <div class="top-div">
  /   <div class='toggleable' id="expectancy">
  /     <p class="yourlife">Your life expectancy is </p>
  /   </br>
  /     <p><%= @user.display_life_expectancy %></p>
  /   </div>
  /   <div class='toggleable' id="clock" data-id="<%= @user.id %>">
  /     <p class="yourlife">Your life gained is </p>
  /   </br>
  /     <% if @user.days.last.display_total_lgl[0] == '+' %>
  /       <span id="plus"><%= @user.days.last.display_total_lgl[0] %></span><%= @user.days.last.display_total_lgl[1..-1] %>
  /     <% else %>
  /       <span id="minus"><%= @user.days.last.display_total_lgl[0] %></span><%= @user.days.last.display_total_lgl[1..-1] %>
  /     <% end %>
  /   </div>
  / </div>



.chart{'data-user-id' =>  @user.id}
.time_chart{'data-user-id' => @user.id }




