

= render file:"partials/_header"
.top-div
  .toggleable#expectancy
    %p.yourlife Your life expectancy is

    %p
      = @user.display_life_expectancy
  .toggleable#clock{'data-id' => @user.id}
    %p.yourlife
      Your life gained is

    - if @user.days.last.display_total_lgl[0] == '+'
      <span id="plus">
      = @user.days.last.display_total_lgl[0]
      </span>
      = @user.days.last.display_total_lgl[1..-1]
    - else
      <span id="minus">
      = @user.days.last.display_total_lgl[0]
      </span>
      = @user.days.last.display_total_lgl[1..-1]

.chart{'data-user-id' =>  @user.id}
.time_chart{'data-user-id' => @user.id }




