<%= render file:"partials/_header" %>
<br></br>
<br></br>
<br></br>
<div id="clock" data-id=<%= @user.id %>>
  <% if @user.days.last.display_total_lgl[0] == '+' %>
    <span id="plus"><%= @user.days.last.display_total_lgl[0] %></span><%= @user.days.last.display_total_lgl[1..-1] %>
  <% else %>
    <span id="minus"><%= @user.days.last.display_total_lgl[0] %></span><%= @user.days.last.display_total_lgl[1..-1] %>
  <% end %>
</div>
<br></br>
<br></br>
<br></br>
<div id="sunburst"><img src=""></div>
